/* usa este fichero para personalizar tus vistas */

.card {
    /* width: 30rem; */
    text-align: center;
    background-color: var(--bs-orange);
    box-shadow: 0 2px 8px #1a1a1b;
}

.row {
    max-width: 100%;
}

.icon-card {
    background-color: var(--bs-yellow);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.card-text-row {
    text-align: center !important;
}

@media (min-width: 768px) {
    .card-text-row {
        text-align: left !important;
    }
}

.back_balance_pos{
    background-color:#F5A300;
}

.back_balance_neg{
    background-color:#AF7302;
    border-radius: 2px;
}

.button-add-expense{
    float: center; 
    width: 4rem; 
    height: 4rem;
}

.form-check-input:checked {
    background-color: #d19900;
    border-color: #886402;
}

.icon {
    filter: invert(1);
    width: 40%;
    height: auto;
}

.card-title {
    float: left;
    padding-top: 1vh;
}

.card-subtitle {
    font-size:small;
    padding-bottom: 1vh;
}

.colscroll{
    max-height: 35vh;
}

.button_config{
    width: 3.5rem; 
    height: 3rem;
    display: inline-block;
    text-align: center;
    margin-left: 1rem;
}

.prize-expense{
    text-align: right;
}

.prize-expense-group{
    text-align: right;
    color:#20c997;
}

#nav-tab[aria-selected="true"] {
    color: white;
    background-color: var(--bs-orange);
}

h7 {
    word-wrap: break-word;
}

.markPaid{
    background-color:#d19900; 
    border: none; 
    color: white; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 5px;
}