<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Monzone - ADMIN</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/admin_group.css}" href="css/admin_group.css" type="text/css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="container-fluid my-4 px-5">
        <div class="row">
            <!-- LEFT PANEL -->
            <div id="left-col" class="col-lg-6 px-4">
                <!-- Row ID, Name, Enabled -->
                <div class="row py-4">
                    <div class="col-2 d-flex align-items-center justify-content-center">
                        <button type="button" id="btn-back" th:onclick="|location.href='/admin/'|" class="btn btn-primary fw-bold mt-2"><i class="fa fa-arrow-left fa-lg"></i></button>
                    </div>
                    <div class="col-3">
                        <label for="id" class="form-label w-100">ID</label>
                        <input id="id" name="id" type="text" class="text-field rounded-corners mb-4" th:value="${group.getId()}" th:disabled="true">
                    </div>
                    <div class="col-4">
                        <label for="name" class="form-label w-100">Name</label>
                        <input id="name" name="name" type="text" class="text-field rounded-corners mb-4" th:value="${group.getName()}" th:disabled="true">
                    </div>
                    <div class="col-3 pe-4">
                        <label for="enabled" class="form-label w-100">Enabled</label>
                        <input id="enabled" name="enabled" type="text" class="text-field rounded-corners mb-4" th:value="${group.isEnabled() ? 'yes' : 'no'}" th:disabled="true">
                    </div>
                </div>
                <!-- Row Desc, Currency, TotBudget -->
                <div class="row">
                    <div class="col-lg-8">
                        <label for="desc" class="form-label w-100">Description</label>
                        <textarea id="desc" name="desc" class="rounded-corners" rows="5" th:disabled="true">[[${group.getDesc()}]]</textarea>
                    </div>
                    <div class="col-lg-4">
                        <div class="row px-4">
                            <label for="curr" class="form-label w-100 px-0">Currency</label>
                            <input id="curr" name="curr" type="text" class="text-field rounded-corners mb-4" th:value="${group.getCurrency()}" th:disabled="true">
                        </div>
                        <div class="row px-4 py-2">
                            <label for="totBudget" class="form-label w-100 px-0">Total budget</label>
                            <input id="totBudget" name="totBudget" type="text" class="text-field rounded-corners mb-4" th:value="${group.getTotBudget()}" th:disabled="true">
                        </div>
                    </div>
                </div>
                <!-- Row Expenses -->
                <div class="row">
                    <div class="row">
                        <h2>Expenses</h2>
                    </div>
                    <div class="row">
                        <div class="area-list border border-white">
                            <!-- Dynamic expense list with Thymeleaf -->
                            <div th:each="exp : ${expenses}" class="w-100">
                                <div class="card justify-content-center border-light text-white my-3 mx-2">
                                    <div class="row row-cols-2 row-cols-md-4 g-0">
                                        <!-- Icon -->
                                        <div class="icon-card me-3 col-4 col-md-2 d-flex align-items-center justify-content-center">
                                            <img th:src="${{ '/img/type/' + exp.getType().getId() + '.png' }}" alt="Category Icon" class="icon">
                                        </div>
                                        <!-- Text Info -->
                                        <div class="col-7 col-md-5">
                                            <div class="row">
                                                <div class="card-title" th:text="${exp.getName()}"></div>
                                            </div>
                                            <div class="row">
                                                <div class="card-subtitle" th:text="'Paid by ' + ${exp.getPaidBy().getUsername()}"></div>
                                            </div>
                                        </div>
                                        <!-- Date -->
                                        <div class="col-md-2 d-flex align-items-center justify-content-center text-nowrap">
                                            <div class="card-text" th:text="${exp.getDate()}"></div>
                                        </div>
                                        <!-- Amount -->
                                        <div class="col-md-2 d-flex align-items-center justify-content-center">
                                            <div class="card-text" th:text="${exp.getAmount()} + ' ' + ${group.getCurrency()}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- RIGHT PANEL -->
            <div class="col-lg-6 py-2 px-4">
                <!-- Row Members -->
                <div class="row">
                    <div class="row">
                        <h2>Members</h2>
                    </div>
                    <div class="row">
                        <div class="area-list border border-white">
                            <!-- Dynamic member list with Thymeleaf -->
                            <div th:each="mem : ${group.getMembers()}" class="w-100">
                                <div tabindex="0" class="member-card my-3 mx-2" th:classappend="${mem.isEnabled() ? 'enabled' : 'disabled'}">
                                    <div class="row row-cols-3 g-0">
                                        <!-- User ID -->
                                        <div class="col-4 py-1">
                                            ID User: [[${mem.getUser().getId()}]]
                                        </div>
                                        <!-- Budget -->
                                        <div class="col-4 py-1">
                                            Budget: [[${mem.getBudget()}]]
                                        </div>
                                        <!-- Balance -->
                                        <div id="balance" class="col-4 py-1">
                                            <span class="dot" th:style="${mem.getBalance() >= 0 ? 'background: green' : 'background: red'}"></span>
                                            Balance: [[${#numbers.formatDecimal(mem.getBalance(), 0, 2)}]] [[${group.getCurrency()}]]
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row Debts -->
                <div class="row mt-3 mb-4">
                    <div class="row mt-4">
                        <h2>Debts</h2>
                    </div>
                    <div class="row">
                        <div class="debts-list border border-white">
                            <!-- Dynamic debts list with Thymeleaf -->
                            <div th:each="deb : ${group.getDebts()}" class="w-100">
                                <div tabindex="0" class="debt-card my-3 mx-2">
                                    <div class="row row-cols-3 px-4 py-2">
                                        User [[${deb.getDebtor().getId()}]] owes user [[${deb.getDebtOwner().getId()}]]: [[${#numbers.formatDecimal(deb.getAmount(), 0, 2)}]] [[${group.getCurrency()}]]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>